$dark-gray: #2B303B;
$light-gray: #EFEFEF;
$dark-red: #CC0000;
$pink: #FF0099;
$green: #99CC33;
$blue-green: #09C997;
$orange:#FF9900;
$yellow: #FFCC00;
$cyan-blue: #66CCFF;
$bright-red: #FF9900;
$medium-gray: #999999;
$black: #000000;
$body-color: #F9F9F9;
$white: #FFFFFF;